<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title>Desafio 4D +50L - 8ºL - Cadastro - B</title>
 
  <!-- Facebook Pixel Code -->
  <script>
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
      n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '709156546588313');
    fbq('track', 'PageView');
  </script>
  <noscript>
    <img height="1" width="1" src="https://www.facebook.com/tr?id=709156546588313&ev=PageView
  &noscript=1" />
  </noscript>
  <!-- End Facebook Pixel Code -->

  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-M6VQP9X');</script>
  <!-- End Google Tag Manager -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MYKZ6MF6KH"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3TMVWSHL6H');
</script>

<link href="//db.onlinewebfonts.com/c/4ad0cc08a319985492ff663e2b16d224?family=MADE+Tommy+Soft" rel="stylesheet" type="text/css"/>
<!-- Icon -->
<link rel="stylesheet" type="text/css" href="assets4d/fonts/line-icons.css">
<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="assets4d/css/bootstrap.min.css">
<!-- Main Style -->
<link rel="stylesheet" type="text/css" href="assets4d/css/main.css">

 <!-- Favicons -->
 <link href="assets/img/favicon.png" rel="icon">
 <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

</head>

<body>

  <!-- Header Area wrapper Starts -->
  <header id="header-wrap">
    <!-- Home main Start -->
    <div style="" id="hero-area" class=" section-padding hero-area-bg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 col-sm-12">
            <div class="contents text-center">
                <img class="img-responsive" style="width: 260px;" src="assets4d/img/logo_ofc.png" alt=""><br>
                <img class="img-fluid pb-2" src="assets4d/img/roma.png" alt=""><br>
                  <img class="img-fluid pb-2" src="assets4d/img/100free.png" alt="">
            </div>
          </div>

          <div class="col-lg-6" id="up">
            <h2 style="font-size: 18px;" class="section-title" data-wow-delay="0.2s"><span style="color: white;">FAÇA AGORA SUA INSCRIÇÃO</span></h2>
            <!-- <div class="row">    -->
              <form class="text-center mb-4" name="form" method="POST" action="/cadDesafio4d">
                      <input type="hidden" name="tag" value="cad-4d+50l-lp-b" class="inputtag">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-md-12 pt-3">
                        <!--email-->
                        <input style="border-radius: 13px;" type="email" name="email" class="form-control" placeholder="E-mail *">
                        <span style="font-size: 13px; color: red" id="msgEmail"></span>
                      </div>
                      <button  type="submit" class="btn btn-success btn-lg mt-3" onclick="msgInputsOff()">CADASTRAR</button>
                </form>
          </div>

          <div class="col-xs-12 col-sm-12 col-lg-6">
              <div class="section-title-header text-center">
                <h2 style="font-size: 18px;" class="section-title wow fadeInUp" data-wow-delay="0.2s"><span style="color: white;">Assista o vídeo</span></h2>
                  <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/A6tXAOP-LdE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
              </div>
          </div>
        </div>
        
      </div>
    </div>
    <div style="background-color: #000;" id="hero-area" class="">
      <div style="border-top: solid thin white;" class="container">
        <div class="row text-center mb-2">
          <div class="col-12">
              <h2 style="font-size: 18px;" class="section-title wow fadeInUp" data-wow-delay="0.2s"><span style="color: white;"> Programação</span></h2>
          </div>
    
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pt-1">
            <img class="img-fluid text-center" src="assets4d/img/01_card_lp_captura.png" alt="">
            <hr>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pt-1">
            <img class="img-fluid text-center" src="assets4d/img/02_card_lp_captura.png" alt="">
            <hr>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pt-1">
            <img class="img-fluid text-center" src="assets4d/img/03_card_lp_captura.png" alt="">
            <hr>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pt-1">
            <img class="img-fluid text-center" src="assets4d/img/04_card_lp_captura.png" alt="">
            <hr>
          </div>
          <div class="col-12">
            <h2 style="font-size: 17px;" class="section-title wow fadeInUp" data-wow-delay="0.2s"><span style="color: white;"> Não perca essa oportunidade!</span></h2>
        </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <a style="color: white; font-size: 15px;" href="#up" class="btn btn-common btn-md mb-4">QUERO PARTICIPAR DO DESAFIO</a>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Hero Area End -->
  </header>
  <!-- Header Area wrapper End -->

<!-- Team Section Start -->
<section id="team" class="section-padding text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-header text-center">
            <h2 style="font-size: 18px; color:#000;" class="section-title wow fadeInUp" data-wow-delay="0.2s">Veja o que dizem os participantes</h2>
            <!-- <p class="wow fadeInDown" data-wow-delay="0.2s">Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ius
              illum vocent mediocritatem an <br> cule dicta iriure at phaedrum.</p> -->
          </div>
        </div>
      </div>
      <div class="row justify-content-bt mb-2">
        <div class="col-lg-4 col-md-6 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item wow fadeInUp" data-wow-delay="0.4s">
          <iframe width="350" height="185" src="https://www.youtube.com/embed/ThdEqghJKyU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="info-text">
              <p>Gustavo</p>
              <h3><a href="#">Distribuidora Toledo</a></h3>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>

        <div class="col-lg-4 col-md-6 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item wow fadeInUp" data-wow-delay="0.6s">
            <iframe width="350" height="185" src="https://www.youtube.com/embed/6p9fofJdzLc" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
            </iframe>
            <div class="info-text">
              <p>Patricia</p>
              <h3><a href="#">Hospital veterinário Mundo Animal</a></h3>
            </div>
          </div>

          <!-- Team Item Ends -->
        </div>

        <div class="col-lg-4 col-md-6 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item wow fadeInUp" data-wow-delay="0.8s">
            <iframe width="350" height="185" src="https://www.youtube.com/embed/JHH8a44jDfo" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
            </iframe>
            <div class="info-text">
              <p>Guilherme Ferrão</p>
              <h3><a href="#">Premium Academia</a></h3>
            </div>
          </div>

          <!-- Team Item Ends -->
        </div>

        <div class="col-lg-4 col-md-6 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item wow fadeInUp" data-wow-delay="1s">
            <iframe width="350" height="185" src="https://www.youtube.com/embed/ROHouPMZnsk" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
            </iframe>
            <div class="info-text">
              <p>Rafael</p>
              <h3><a href="#">Jujuba Brownies</a></h3>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>

        <div class="col-lg-4 col-md-6 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item wow fadeInUp" data-wow-delay="1.2s">
            <iframe width="350" height="185" src="https://www.youtube.com/embed/SZdf0vMmZBc" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
            </iframe>
            <div class="info-text">
              <p>Ramon Rodrigues</p>
              <h3><a href="#">Restaurante Mega Beer</a></h3>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>

        <div class="col-lg-4 col-md-6 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item wow fadeInUp" data-wow-delay="1.4s">
            <iframe width="350" height="185" src="https://www.youtube.com/embed/-Xxq600TPOc" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
            </iframe>
            <div class="info-text">
              <p>Breno Alves</p>
              <h3><a href="#">Auto Molas Imperatriz</a></h3>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <a style="color: white; font-size: 15px;" href="#up" class="btn btn-common btn-md mb-4">QUERO PARTICIPAR DO DESAFIO</a>
      </div>
    </div>
  </section>
  <!-- Team Section End -->

  <!-- Section Curso Combo  -->
  <section style="background-color: #000;" class="text-center">
      <div style="border-bottom: solid thin white;" class="container">
        <div class="section-title-header text-center" >
          <h2 style="font-size: 18px; color: white;"class="section-title pt-3 wow fadeInUp" data-wow-delay="0.2s">QUEM SOMOS</h2>
        </div>
        <div class="row justify-content-center mb-3">
          <div style="padding-right: 10px;" class="col-lg-6 col-md-6 col-xs-12">
            <img class="img-fluid" src="assets4d/img/quem_somos_part1.png" alt="">
          </div>
          <div style="padding-right: 10px;" class="col-lg-6 col-md-6 col-xs-12">
            <img class="img-fluid" src="assets4d/img/quem_somos_part2.png" alt="">
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
          <a style="color: white; font-size: 15px;" href="#up" class="btn btn-common btn-md mb-4">QUERO AUMENTAR MEU LUCRO</a>
        </div>
      </div>
    </section>
    <!-- Team Section End -->

  <footer class="hero-area-bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12 col-xs-12">
          <div class="footer-logo">
            <img class="img-fluid pt-2 pb-2" style="width: 130px;" src="assets4d/img/idebrasil_logo.png" alt="">
            <p style="color: white; font-size: 13px;">EL Treinamentos Ltda<br>
              CNPJ: 25.327.714/0001-30<br>
              Rua: Aspásia de Miranda Mourão, n° 25, Estoril, Belo Horizonte, MG. CEP: 30.494-205<br>
              <!-- Telefone: (31) 9 9655-3830 -->
            </p>
          </div>
          <div class="social-icons-footer">
          <ul>
                <li class="facebook"><a href="https://www.facebook.com/leonavarroidebrasil/" target="_blank" href="3"><i class="lni-facebook-filled"></i></a></li>
                <li class="pinterest"><a href="https://www.instagram.com/leonavarro_idebrasil/" target="_blank" href="3"><i class="lni-instagram-filled"></i></a></li>
                <li class="pinterest"><a href="https://www.youtube.com/c/LeonardoNavarroIDEBRASIL/" target="_blank" href="3"><i class="lni-youtube"></i></a></li>
              </ul>
          </div>
          <div class="site-info">
            <p>Designed and Developed by <a href="http://idebrasil.com.br" rel="nofollow">IDEBRASIL</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Go to Top Link -->
  <a href="#" class="back-to-top">
    <i class="lni-chevron-up"></i>
  </a>

  <script>
    const second = 1000,
      minute = second * 60,
      hour = minute * 60,
      day = hour * 24;

    let countDown = new Date('Nov 02, 2020 23:59:00').getTime(),
      x = setInterval(function () {

        let now = new Date().getTime(),
          distance = countDown - now;

        document.getElementById('days').innerText = Math.floor(distance / (day)),
          document.getElementById('hours').innerText = Math.floor((distance % (day)) / (hour)),
          document.getElementById('minutes').innerText = Math.floor((distance % (hour)) / (minute)),
          document.getElementById('seconds').innerText = Math.floor((distance % (minute)) / second);
      }, second)
  </script>


<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M6VQP9X"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!-- Hotjar Tracking Code for https://marketing.idebrasil.com.br/workshop4li/ -->
    <script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2206016,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

<!--Input mask Js-->
<script src="assets/js/jquery-1.8.3.min.js" type="text/javascript"></script>
<script src="assets/js/jquery.mask.min.js" type="text/javascript"></script>

<script type="text/javascript">
  $(document).ready(function () {
    $('#phone').mask("+55(00)00000-0000");
  });
</script>

<script>
function titleize(text) {
    var loweredText = text.toLowerCase();
    var words = loweredText.split(" ");
    for (var a = 0; a < words.length; a++) {
        var w = words[a];

        var firstLetter = w[0];
        w = firstLetter.toUpperCase() + w.slice(1);

        words[a] = w;
    }
    return words.join(" ");
}

$(document).ready(function(){
  
    $(document).on("keyup","input.trata",function(){
        var text = $(this).val();
        var trata = titleize(text); 
        $(this).val(trata);
     });

});
</script>

<script>
 function msgInputsOff(){
   var email = form.email
   var nome = form.firstName
   var phone = form.phone
   var msgerro = "Campo obrigatório"

     if(email.value == ""){
         document.getElementById("msgEmail").innerHTML = msgerro;
     }else {
       document.getElementById("msgEmail").innerHTML = "";
     }
     if(nome.value == ""){
         document.getElementById("msgNome").innerHTML = msgerro;
     }else {
       document.getElementById("msgNome").innerHTML = "";
     }
     if(phone.value == ""){
         document.getElementById("msgCelular").innerHTML = msgerro;
     }else {
       document.getElementById("msgCelular").innerHTML = "";
     }
 }
</script>
<!-- The core Firebase JS SDK is always required and must be listed first
<script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries --
<script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-analytics.js"></script> -->

<!-- <script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
    apiKey: "AIzaSyBAgsLVmm188I9VOwtORtG7FXygddBT9IE",
    authDomain: "wdse5li.firebaseapp.com",
    projectId: "wdse5li",
    storageBucket: "wdse5li.appspot.com",
    messagingSenderId: "827057880275",
    appId: "1:827057880275:web:c386ef45c7c8bb35e7e826",
    measurementId: "G-6HR9T7PLRV"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script> -->
</body>

</html>
