<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
   <!-- Favicons -->
   <link href="assets/img/favicon.png" rel="icon">
   <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    
  <title>Aulas WDSE - Umuarama</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
  <!-- Icon -->
  <link rel="stylesheet" type="text/css" href="assets/fonts/line-icons.css">
  <!-- Nivo Lightbox -->
  <link rel="stylesheet" type="text/css" href="assets/css/nivo-lightbox.css">
  <!-- Animate -->
  <link rel="stylesheet" type="text/css" href="assets/css/animate.css">
  <!-- Main Style -->
  <link rel="stylesheet" type="text/css" href="assets/css/main.css">
  <!-- Responsive Style -->
  <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">

  <!-- Facebook Pixel Code -->
  <script>
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
      n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '709156546588313');
    fbq('track', 'PageView');
  </script>
  <noscript>
    <img height="1" width="1" src="https://www.facebook.com/tr?id=709156546588313&ev=PageView
  &noscript=1" />
  </noscript>
  <!-- End Facebook Pixel Code -->


<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M6VQP9X"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

</head>

<body>

  <!-- Header Area wrapper Starts -->
  <header id="header-wrap">
    <nav id="nav1" style="background-color: rgba(0, 0, 0, 1);" class="navbar navbar-expand-sm justify-content-center pt-2 pb-1">
      <div class="container-c text-center">
        <ul style="color: white">
          <h6 id="start" class="pt-1 pb-1" style="font-size: 24px; color: white;">CDE ON-LINE INSCRIÇÕES ABERTAS.</h6>
          <a style="color: #fff; " href="https://edzz.la/TJ934?a=96207339" class="btn btn-common btn-lg mt-2 mb-3" data-wow-delay="0.5s">QUERO CONHCER O CDE ON-LINE</a>
          
        </ul>
      </div>
    </nav>

    <div Style="background-color: black" class="row justify-content-center">
          
      <div class="col-lg-12 col-xs-12 col-sm-12 text-center pt-2">
            <img class="img-responsive mb-2" style="width: 260px;" src="assets/img/logo_ofc.png" alt="">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/kBDs5QWHU40" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-lg-12 text-center">
        <h6 style="color: white;" id="subTitle">AULAS PRORROGADAS POR...</h6>
      </div>
      <!-- <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="schedule-area row wow fadeInDown" data-wow-delay="0.3s">
          <div class="container-c text-center">
          <strong><li style="border solid thin white" class="lic"><strong><span style="color: red; font-weight: 700;" class="spn" id="days"></span></strong><br><a id="dias" style="font-size: 15px; color: white;"> Dias</a></li></strong>
          <strong><li class="lic"><strong><span style="color: red;" class="spn" id="hours"></span><span id="pin1" style="color: red;">&nbsp;:</span></strong><br><a id="horas" style="font-size: 15px; color: white;"> Horas</a></li></strong>
          <strong><li class="lic"><strong><span style="color: red;" class="spn" id="minutes"></span><span id="pin2" style="color: red;">&nbsp;:</span></strong><br><a id="minutos" style="font-size: 15px; color: white;"> Min</a></li></strong>
          <strong><li class="lic"><strong><span style="color: red;" class="spn" id="seconds"></span></strong><br><a id="segundos" style="font-size: 15px; color: white;"> Seg</a></li></strong>
          </div>
          <div class="schedule-tab-content col-12 clearfix">
            <div class="tab-content" id="myTabContent">
              
              <div class="tab-pane show active fade text-center pb-4" id="aula01" role="tabpanel" aria-labelledby="monday-tab">
                <div id="accordion">
                  <div id="headingOne">
                    <div class="text-center pb-4">
                    <iframe width="715" height="415" src="https://www.youtube.com/embed/2jh_zLaEFLE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
                <a style="color: #fff; " href="https://edzz.la/FD6FE?a=42383367" class="btn btn-common btn-lg mt-2 mb-3" data-wow-delay="0.5s">QUERO CONHCER O CDE ON-LINE</a>
              </div>

              <div class="tab-pane show fade text-center pb-4" id="aula02" role="tabpanel" aria-labelledby="tuesday-tab">
                <div id="accordion2">
                  <div id="headingOne1">
                    <div class="text-center pb-4">
                      <iframe width="715" height="415" src="https://www.youtube.com/embed/TPDjOH757j4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
                <a style="color: #fff; " href="https://edzz.la/FD6FE?a=42383367" class="btn btn-common btn-lg mt-2 mb-3" data-wow-delay="0.5s">QUERO CONHCER O CDE ON-LINE</a>
              </div>

              <div class="tab-pane fade show pb-4 text-center" id="aula03" role="tabpanel" aria-labelledby="wednesday-tab">
                <div id="accordion3">
                  <div id="headingOne3">
                    <div class="text-center pb-4">
                      <iframe width="715" height="415" src="https://www.youtube.com/embed/BHOWzxERIkE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
                <a style="color: #fff; " href="https://edzz.la/FD6FE?a=42383367" class="btn btn-common btn-lg mt-2 mb-3" data-wow-delay="0.5s">QUERO CONHCER O CDE ON-LINE</a>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <!-- <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 text-center">
         <ul style="padding-top: 8px;" class="nav" id="myTab" role="tablist">
          <li style="padding-top: 0px;" class="">
            <h6 class="section-title text-center" style="font-size: 18px; color: white">AULAS DISPONÍVEIS</h6> 
            <a class="nav-link text-center" id="monday-tab" data-toggle="tab" href="#aula01" role="tab"
              aria-controls="monday" aria-expanded="true">
              <h1 style="font-size: 14px; color: white;">AULA #01 - Como Calcular seu Lucro Real Mensal.  </h1>
              <img Style="width: 250px;" class="img-fluid" src="assets/img/logo-workshop.png" alt="">
            </a>
            
          </li>
          <li class="nav-item">
            <a disabled class="nav-link" id="tuesday-tab" data-toggle="tab" href="#aula02" role="tab" aria-controls="tuesday">
              <h1 style="font-size: 14px; color: white;">AULA #02 - Como ter Caixa Positivo 30 dias.  </h1>
              <img Style="width: 250px;" class="img-fluid" src="assets/img/logo-workshop.png" alt="">
            </a>
          </li>

          <li class="nav-item">
            <a disabled class="nav-link" id="wednesday-tab" data-toggle="tab" href="#aula03" role="tab"
              aria-controls="wednesday">
              <h1 style="font-size: 14px; color: white;">AULA #03 - Como Calcular seu Preço de Vendas Corretamente.  </h1>
              <img Style="width: 250px;" class="img-fluid" src="assets/img/logo-workshop.png" alt="">
            </a>
          </li>
        </ul>           
      </div> -->
    </div>

      </div>
    </div>
    <!-- Hero Area End -->

    <!-- Home 2 Start --
  <section style="padding-bottom: 30px;" id="schedules" class="schedule pt-4">
      <div class="container">
       <div class="row">
        <!-- <div class="col-12">
          <div class="section-title-header text-center">
            <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Aulas Disponíveis</h2>
          </div>
        </div> --
      </div>
      <div class="row">
        <div class="col-12 mb-1 text-center">
        <div class="banner-btn">
            <a style="color: white; font-size: 20px;" href="https://marketing.idebrasil.com.br/combo2li/" class="btn btn-common btn-lg mb-2">QUERO GARANTIR MINHA VAGA</a>
          </div>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item pb-4">
              <a class="nav-link active" id="monday-tab" data-toggle="tab" href="#aula01" role="tab"
                aria-controls="monday" aria-expanded="true">
                <div class="item-text">
                  <h4>Aula #1</h4>
                  <h5>Disponível </h5>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="tuesday-tab" data-toggle="tab" href="#aula02" role="tab" aria-controls="tuesday">
                <div class="item-text">
                  <h4>Aula #2</h4>
                  <h5>Disponível </h5>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link mb-4" id="wednesday-tab" data-toggle="tab" href="#aula03" role="tab"
                aria-controls="wednesday">
                <div class="item-text">
                  <h4>Aula #3</h4>
                  <h5>Disponível</h5>
                </div>
              </a>
            </li>

          </ul>

        </div>
        <div class="col-12">
          <div class="schedule-area row wow fadeInDown" data-wow-delay="0.3s">
            <div class="schedule-tab-content col-12 clearfix">

              <div class="tab-content" id="myTabContent">
                
                <div class="tab-pane show active fade" id="aula01" role="tabpanel" aria-labelledby="monday-tab">
                  <div id="accordion">
                    <div id="headingOne">
                      <div class="text-center pb-4">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/sHExc7BFMcc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" id="aula02" role="tabpanel" aria-labelledby="tuesday-tab">
                  <div id="accordion2">
                    <div id="headingOne1">
                      <div class="text-center pb-4">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/_eckls__1Tc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade show pb-4" id="aula03" role="tabpanel" aria-labelledby="wednesday-tab">
                  <div id="accordion3">
                    <div id="headingOne3">
                      <div class="text-center pb-4">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/oVCorwlDCHs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Schedule Section End -->

    <!-- Count Bar Start -->
    <section id="count">
      <div class="container">
        
    </section>
    <!-- Count Bar End -->
  </header>
  <!-- Header Area wrapper End -->

  <!-- Blog Section Start --
  <section id="blog" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-header text-center">
            <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Programação</h2>
            <p class="wow fadeInDown" data-wow-delay="0.2s">Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ius
              illum vocent mediocritatem an <br> cule dicta iriure at phaedrum.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="blog-item">
            <div class="blog-image">
              <a href="#">
                <img class="img-fluid" src="assets/img/blog/img-1.jpg" alt="">
              </a>
            </div>
            <div class="descr">
              <div class="icon">
                <i class="lni-check-mark-circle"></i>
              </div>
              <h3 class="title">
                <a href="#">
                  Aula - 01
                </a>
              </h3>
              <strong>DATA: 26/10/2020, das 19:00h as 20:00h.</strong>

              <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipsing elit, sed do eiusmodincididunt ut labore
                et dolore</p>
            </div>
            <div class="meta-tags">
              <h3>PLANILHA</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="blog-item">
            <div class="blog-image">
              <a href="#">
                <img class="img-fluid" src="assets/img/blog/img-1.jpg" alt="">
              </a>
            </div>
            <div class="descr">
              <div class="icon">
                <i class="lni-check-mark-circle"></i>
              </div>
              <h3 class="title">
                <a href="#">
                  Aula - 01
                </a>
              </h3>
              <strong>DATA: 26/10/2020, das 19:00h as 20:00h.</strong>

              <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipsing elit, sed do eiusmodincididunt ut labore
                et dolore</p>
            </div>
            <div class="meta-tags">
              <h3>PLANILHA</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="blog-item">
            <div class="blog-image">
              <a href="#">
                <img class="img-fluid" src="assets/img/blog/img-1.jpg" alt="">
              </a>
            </div>
            <div class="descr">
              <div class="icon">
                <i class="lni-check-mark-circle"></i>
              </div>
              <h3 class="title">
                <a href="#">
                  Aula - 01
                </a>
              </h3>
              <strong>DATA: 26/10/2020, das 19:00h as 20:00h.</strong>

              <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipsing elit, sed do eiusmodincididunt ut labore
                et dolore</p>
            </div>
            <div class="meta-tags">
              <h3>PLANILHA</h3>
            </div>
          </div>
        </div>
        <div class="col-12 text-center">
          <a href="#" class="btn btn-common">FAÇA AGORA SUA INSCRIÇÃO</a>
        </div>
      </div>
    </div>
  </section>
  <!-- Blog Section End -->

  <!-- Team Section Start -->
<!-- <section id="team" class="text-center pt-3 ">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12 text-center">
          <div class="section-title-header text-center">
            <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Me diga o que você achou da aula...</h2>
          </div>
          
    <hr>
    </div>
    
  </section> -->
  <!-- Team Section End -->

<!-- Team Section Start -->
<section id="team" class="mt-2 pb-2 text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-header text-center">
            <h2 class="section-title wow fadeInUp" data-wow-delay="0.2s">Veja o que dizem os participantes</h2>
            <!-- <p class="wow fadeInDown" data-wow-delay="0.2s">Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ius
              illum vocent mediocritatem an <br> cule dicta iriure at phaedrum.</p> -->
          </div>
        </div>
      </div>
      <div class="row justify-content-bt">
        <div class="col-lg-4 col-md-6 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item wow fadeInUp" data-wow-delay="0.4s">
          <iframe width="350" height="185" src="https://www.youtube.com/embed/ThdEqghJKyU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="info-text">
              <p>Gustavo</p>
              <h3><a href="#">Distribuidora Toledo</a></h3>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>

        <!--  -->

        <div class="col-lg-4 col-md-6 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item wow fadeInUp" data-wow-delay="0.8s">
            <iframe width="350" height="185" src="https://www.youtube.com/embed/JHH8a44jDfo" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
            </iframe>
            <div class="info-text">
              <p>Guilherme Ferrão</p>
              <h3><a href="#">Premium Academia</a></h3>
            </div>
          </div>

          <!-- Team Item Ends -->
        </div>

        <div class="col-lg-4 col-md-6 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item wow fadeInUp" data-wow-delay="1.4s">
            <iframe width="350" height="185" src="https://www.youtube.com/embed/-Xxq600TPOc" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
            </iframe>
            <div class="info-text">
              <p>Breno Alves</p>
              <h3><a href="#">Auto Molas Imperatriz</a></h3>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>
      </div>
      <!-- <div class="col-lg-12 text-center">
         <a href="https://marketing.idebrasil.com.br/combo5li/"><a style="font-size: 14px;" class="btn btn-common btn-lg mt-4" data-wow-delay="0.5s">QUERO CONHECER O CURSO</a></a>
      </div> -->
    </div>
  </section>
  <!-- Team Section End -->

  <!-- Section Curso Combo  --
  <section style="background-color: #f2f2f2" class="text-center">
      <div class="container-fluid">
        <div class="section-title-header text-center" >
          <h2 class="section-title pt-3 wow fadeInUp" data-wow-delay="0.2s">QUEM SOMOS</h2>
        </div>
        <div class="row justify-content-left">
          <div style="padding-right: 10px;" class="col-lg-6 col-md-6 col-xs-12">
            <img class="img-fluid" src="assets/img/quemsomos.jpeg" alt="">
          </div>

          <div class="col-lg-6 col-md-6 col-xs-12 text-center mt-4">
            <div class="wow fadeInUp pt-4 text-center" data-wow-delay="0.3s">
              <div style="padding-left: 30px; padding-right: 30px;" class="row text-left">
                <div class="text-left">
                  <h6 class="pt-4" style="font-size: 25px; color: #000;"><strong>O ESPECIALISTA</strong></h6>
                </div>

                <p>Leonardo Navarro é empresário, graduado em administração e CEO do IDEBRASIL. Um dos maiores
                  especialistas de gestão do Brasil, já capacitou 15 mil empresários de pequenas e médias empresas, além
                  de executivos de grandes corporações como: Todeschini, China in Box, Ghendai, Italinea, Carraro,
                  Criare entre outras.<br><br>

                  Há 16 anos, dedica sua vida ajudando empresários realizarem seus sonhos e alcançarem o tão desejado
                  sucesso profissional.</p>
              </div>

              <div style="padding-left: 30px; padding-right: 30px;" class="row text-left">
                <div class="text-left">
                  <h6 class="pt-4" style="font-size: 25px; color: #000;"><strong>O INSTITUTO</strong></h6>
                </div>

                <p>O<a style="color: #cb4343;"> IDEBRASIL</a> "Instituto de Desenvolvimento Empresarial" tem a missão de
                  “compartilhar conhecimento
                  de gestão com empresários de pequenas e médias empresas, de forma simples e prática, a fim de gerar
                  DESENVOLVIMENTO”.</p>
              </div>

              <div style="padding-left: 30px; padding-right: 30px;" class="row mt-4 pb-4">
                <div class="col-lg-3 col-md-3 col-sm-12 text-center">
                  <img style="width: 90px;" class="img-fluid" src="assets/img/2paises.png" alt=""><br>
                  <span><strong><a style="color: #cb4343;">2</a><br> Paises</strong> </span>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 text-center">
                  <img style="width: 90px;" class="img-fluid" src="assets/img/23estados.png" alt=""><br>
                  <span><strong><a style="color: #cb4343;">23</a><br> Estados Brasileiros</strong> </span>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 text-center">
                  <img style="width: 90px;" class="img-fluid" src="assets/img/pp_palestras.png" alt=""><br>
                  <span><strong><a style="color: #cb4343;">200.000</a><br> Participantes em palestras</strong> </span>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 text-center">
                  <img style="width: 90px;" class="img-fluid" src="assets/img/alunos.png" alt=""><br>
                  <span><strong><a style="color: #cb4343;">40.000</a><br> Empresários impactados</strong> </span>
                </div>
              </div>

            </div>
          </div>
        </div>
        <a style="color: #fff; font-size: 20px;" href="https://marketing.idebrasil.com.br/combo4li/" class="btn btn-common btn-lg mt-4 mb-3 " data-wow-delay="0.5s">QUERO ME INSCREVER</a>
      </div>
    </section>
    <!-- Team Section End -->

  <!-- The Modal -->
  <div style="border-radius: 5px;" class="modal" data-wow-delay="0.8s" id="modal">
    <div class="modal-dialog modal-dialog-top modal-xl">
      <div class="modal-content">
        <!-- Modal Header -->
        <div style="background-image: url('assets/img/home.png');" class="modal-header d-flex align-items">
          <div class="col-md-11 col-xs-10 col-sm-10 text-left">
            <h5 style="color: white; font-size: 20px;" class="modal-title">Participe</h5>
          </div>
          <div class="col-md-1  col-xs-2 col-sm-2 text-right"><button style="color: white;" type="button" class="close"
              data-dismiss="modal">&times;</button></div>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form method="post" id="contactForm2">
            <div class="row" >
            <div class="col-md-12 text-left"><h6><a style="border-bottom: solid thin #3d3d3d; font-size: 12px"><strong>Dados pessoais</strong></a></h6></div>
              <!--tag-->
              <input  type="hidden" name="tag" value="2º LI 16-11-20 - INSCRITOS" class="inputtag">

              <!--nome-->
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pt-2">
                <label style="color: #302f2e; font-size: 12px; border-bottom: solid thin #3d3d3d;" for="#nome">Nome</label>
                <input style="outline: none; border: solid thin white color: #302f2e; " id="nome" type="text" name="nome" class="form-control"
                  placeholder="Nome *">
                  <span class="msgerro erronome pl-1"><strong>Nome obrigatório.</strong></span>
              </div>

              <!--email-->
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pt-2">
                <label style="color: #302f2e; font-size: 12px; border-bottom: solid thin #3d3d3d;" for="#email">E-mail</label>
                <input style="border: solid thin white color: #302f2e;" id="email" type="email" name="email" class="form-control" placeholder="E-mail *">
                <span class="msgerro erroemail pl-1"><strong>E-mail obrigatório.</strong></span>
              </div>

              <!--telefone de contato-->
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pt-2">
                <label style="color: #302f2e; font-size: 12px; border-bottom: solid thin #3d3d3d;" for="#telefone">Celular</label>
                <input style="border: solid thin white color: #302f2e;" id="telefone" type="text" name="telefone" class="form-control" placeholder="Celular *"
                  minlength=17>
                <span class="msgerro errotelefone pl-1"><strong>Celular obrigatório.</strong></span>
              </div>
            </div>

            <div class="banner-btn pt-4 text-center">
                <button style="margin-top: 5%; text-align: center;" type="submit" name="form-squezze"
                value="BAIXAR PLANILHA" class="btn btn-common">CONFIRMAR PARTICIPAÇÃO
              </button>
            </div>
          </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-success" data-dismiss="modal"></button> -->
        </div>

      </div>
    </div>
  </div>
  <!--Modal end -->

   <!-- Modal Out --
<div class="modal fade" id="modalOut">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-head">
        <div class="col-md-12 text-center pt-3 pb-4"><h6><a style="border-bottom: solid thin #3d3d3d; font-size: 30px"><strong>Dados pessoais</strong></a></h6></div>
      </div>

      <div class="modal-body">
        <div class="row">
          <div style="background-image: url('assets/img/home.png')" class="col-lg-6">
                <!-- <img class="img-fluid" src="assets/img/home.png" alt=""> --
          </div>
          <div class="col-lg-6">
          <form method="post" id="contactForm2s">
            <div class="row" >
              <!--tag--
              <input  type="hidden" name="tag" value="workshop-entrada" class="inputtag">

              <!--nome--
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pt-2">
                <label style="color: #302f2e; font-size: 12px; border-bottom: solid thin #3d3d3d;" for="#nome">Nome</label>
                <input style="outline: none; border: solid thin white color: #302f2e; " id="nome" type="text" name="nome" class="form-control"
                  placeholder="Nome *">
                  <span class="msgerro erronome pl-1"><strong>Nome obrigatório.</strong></span>
              </div>

              <!--sobrenome--
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pt-2">
                <label style="font-size: 12px; border-bottom: solid thin #3d3d3d;" for="#snome">Sobrenome</label>
                <input style="border: solid thin white color: #302f2e;" id="snome" type="text" name="snome" class="form-control" placeholder="Sobrenome *">
                <span class="msgerro errosnome pl-1"><strong>Sobrenome obrigatório.</strong></span>
              </div>

              <!--email--
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pt-2">
                <label style="color: #302f2e; font-size: 12px; border-bottom: solid thin #3d3d3d;" for="#email">E-mail</label>
                <input style="border: solid thin white color: #302f2e;" id="email" type="email" name="email" class="form-control" placeholder="E-mail *">
                <span class="msgerro erroemail pl-1"><strong>E-mail obrigatório.</strong></span>
              </div>

              <!--telefone de contato--
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pt-2">
                <label style="color: #302f2e; font-size: 12px; border-bottom: solid thin #3d3d3d;" for="#telefone">Celular</label>
                <input style="border: solid thin white color: #302f2e;" id="telefone" type="text" name="telefone" class="form-control" placeholder="Celular *"
                  minlength=17>
                <span class="msgerro errotelefone pl-1"><strong>Celular obrigatório.</strong></span>
              </div>
            </div>

            <div class="banner-btn pt-4 text-center">
                <button style="margin-top: 5%; text-align: center;" type="submit" name="form-squezze"
                value="BAIXAR PLANILHA" class="btn btn-common">Confirmar Inscrição
              </button>
            </div>
          </form>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div class="col-md-12 text-center pt-3 pb-4">
          ...
        </div>
      </div>
    </div>
  </div>
</div>-->

<footer class="hero-area-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-12 col-xs-12">
        <div class="footer-logo pt-3">
          <img class="img-fluid pt-2 pb-2" style="height: 100px;" src="assets/img/logo-workshop.png" alt="">
          <p style="color: white; font-size: 13px;">EL Treinamentos Ltda<br>
            CNPJ: 41.911.153/0001-78<br>
            Rua: Aspásia de Miranda Mourão, n° 25, Estoril, Belo Horizonte, MG. CEP: 30.494-205<br>
            <!-- Telefone: (31) 9 9655-3830 -->
          </p>
        </div>
        <div class="social-icons-footer">
        <ul>
              <li class="facebook"><a href="https://www.facebook.com/leonavarroidebrasil/" target="_blank" href="3"><i class="lni-facebook-filled"></i></a></li>
              <li class="pinterest"><a href="https://www.instagram.com/leonavarro_idebrasil/" target="_blank" href="3"><i class="lni-instagram-filled"></i></a></li>
              <li class="pinterest"><a href="https://www.youtube.com/c/LeonardoNavarroIDEBRASIL/" target="_blank" href="3"><i class="lni-youtube"></i></a></li>
            </ul>
        </div>
        <div class="site-info">
          <p>Designed and Developed by <a href="http://idebrasil.com.br" rel="nofollow">IDEBRASIL</a></p>
          
        </div>
      </div>
    </div>
  </div>
</footer>

  <!-- Go to Top Link -->
  <a href="#" class="back-to-top">
    <i class="lni-chevron-up"></i>
  </a>

  <script>
    const second = 1000,
      minute = second * 60,
      hour = minute * 60,
      day = hour * 24;

      //contador 01 
      let countDown = new Date('July 20, 2021 23:59:00').getTime(), x = setInterval(function () {

        let now = new Date().getTime(),
          distance = countDown - now;

          document.getElementById('days').innerText = Math.floor(distance / (day)),
          document.getElementById('hours').innerText = Math.floor((distance % (day)) / (hour)),
          document.getElementById('minutes').innerText = Math.floor((distance % (hour)) / (minute)),
          document.getElementById('seconds').innerText = Math.floor((distance % (minute)) / second);

        // do something later when date is reached
        if (distance <= 0) {
          document.getElementById('start').innerHTML = "<h6 style='font-size: 24px; color: white;' class='pt-2'>Aula #03 Iniciada...</h6>";
          document.getElementById('subTitle').innerHTML = "<h6 style='font-size: 18px; color: white; padding: none;'>Passo a Passo para Formar seu Preço de Vendas Corretamente</h6>";
          document.getElementById('pin1').innerHTML = '<span style="display: none"></span>';
          document.getElementById('pin2').innerHTML = '<span style="display: none"></span>';
          // document.getElementById('nav2').innerHTML = '<span style="display: block;"></span>';

          document.getElementById('days').innerHTML = '<li style="display: none"></li>';
          document.getElementById('hours').innerHTML = '<li style="display: none"></li>';
          document.getElementById('minutes').innerHTML = '<li style="display: none"></li>';
          document.getElementById('seconds').innerHTML = '<li style="display: none"></li>';

          document.getElementById('dias').innerHTML = '<span style="display: none"></span>';
          document.getElementById('horas').innerHTML = '<span style="display: none"></span>';
          document.getElementById('minutos').innerHTML = '<span style="display: none"></span>';
          document.getElementById('segundos').innerHTML = '<span style="display: none"></span>';
          clearInterval(x);
         
        }

      }, second)

      const contador = new Date('July 16, 2021 20:30:00').getTime(),
      y = setInterval(function () {
        let now2 = new Date().getTime(),
        distance2 = contador - now2;
        if(distance2 <= 0){
          document.getElementById('btn-gp-vip').innerHTML = '<a style="color: #fff; " href="https://chat.whatsapp.com/E5k2gQyixIh82Aw92zuPWU" class="btn btn-common btn-lg mt-2 mb-2" data-wow-delay="0.5s">ENTRAR PARA O GRUPO DE PRÉ-RESERVA DO CDE ON-LINE</a>';        
        } 
      }, second)

  </script>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="assets/js/jquery-min.js"></script>
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/jquery.countdown.min.js"></script>
  <script src="assets/js/waypoints.min.js"></script>
  <script src="assets/js/jquery.counterup.min.js"></script>
  <script src="assets/js/jquery.nav.js"></script>
  <script src="assets/js/jquery.easing.min.js"></script>
  <script src="assets/js/wow.js"></script>
  <script src="assets/js/nivo-lightbox.js"></script>
  <script src="assets/js/video.js"></script>
  <script src="assets/js/main.js"></script>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M6VQP9X"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<script>
  const VIDEO_ID = "BHOWzxERIkE"; // for live chat
  //ID CPL 02 - TPDjOH757j4
  //ID CPL 03 - 
  //2jh_zLaEFLE
/*
code from:
https://stackoverflow.com/questions/52468303/how-to-embed-youtube-livestream-chat
*/
let chat_embed_wrapper = document.getElementById("chat-embed-wrapper");  
let chat_embed_iframe = document.createElement("iframe");  
chat_embed_iframe.referrerPolicy = "origin";  
chat_embed_iframe.src = `https://www.youtube.com/live_chat?v=${VIDEO_ID}&embed_domain=${window.location.hostname}&dark_theme=1`;  
chat_embed_iframe.frameBorder = "0";  
chat_embed_iframe.id = "chat-embed-iframe";  
chat_embed_iframe.style.height = "100%";
chat_embed_iframe.style.width = "100%";
// chat_embed_iframe.class = "text-center";
chat_embed_wrapper.appendChild(chat_embed_iframe);

let change_stream_embed_iframe_size = function(){
let stream_container = document.getElementById("stream-container");
let stream_embed_wrapper = document.getElementById("stream-embed-wrapper");
let stream_embed_iframe = document.getElementById("stream-embed-iframe");

if(typeof window.orientation !== 'undefined'){ //on phone
  chat_embed_wrapper.style.display = 'show';
  stream_embed_iframe.width = stream_container.clientWidth;
}else{ // on pc (desktop browsers == 'undefined')
  stream_embed_iframe.width = stream_embed_wrapper.clientWidth;
}
};
change_stream_embed_iframe_size();

window.onresize = function(event) {
//console.log("[window.onresize]");
change_stream_embed_iframe_size();
};
</script>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M6VQP9X"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->


</body>

</html>
