<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>WDSE 7L - Confirmação - Umuarama</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
  <!-- Icon -->
  <link rel="stylesheet" type="text/css" href="assets/fonts/line-icons.css">
  <!-- Nivo Lightbox -->
  <link rel="stylesheet" type="text/css" href="assets/css/nivo-lightbox.css">
  <!-- Animate -->
  <link rel="stylesheet" type="text/css" href="assets/css/animate.css">
  <!-- Main Style -->
  <link rel="stylesheet" type="text/css" href="assets/css/main.css">
  <!-- Responsive Style -->
  <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">

  <!-- Facebook Pixel Code -->
  <script>
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
      n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '709156546588313');
    fbq('track', 'PageView');
  </script>
  <noscript>
    <img height="1" width="1" src="https://www.facebook.com/tr?id=709156546588313&ev=PageView
  &noscript=1" />
  </noscript>
  <!-- End Facebook Pixel Code -->
  
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-M6VQP9X');</script>
  <!-- End Google Tag Manager -->

</head>

<body>

  <!-- Header Area wrapper Starts -->
  <header id="header-wrap">
    <!-- Hero Area Start -->
    <div id="hero-area" class="hero-area-bg">
      <div class="overlay"></div>
      <div class="container mb-4 ">
        <div class="row justify-content-center">
          <div class="col-lg-9 col-sm-12">
            <div class=" text-center">
              <img style="height: 100px;" class="img-fluid pt-1" src="assets/img/logo-workshop.png" alt="">
              <h5><a style="font-size: 30px; font-weight: 500;font-family: 'Roboto', sans-serif;">Estamos quase lá, assista ao vídeo que contém informações importantes!</a></h5>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/uQKSa2hXwuk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="col-lg-12 col-sm-12 col-xs-12 text-center pt-2">
            <h6 style="font-size: 20px; font-weight: 700;">AGORA FALTA APENAS UM PASSO...</h6>
            <img class="img-fluid" src="assets/img/barrinha_95.png" alt="" srcset="">
          </div>
          <div class="col-lg-12 text-center">
              <a id="btn_wapp_inscricao" href="https://chat.whatsapp.com/LMYarpFUmG0AvCIcpE7MF8"><img class="img-fluid" src="assets/img/cta_wpp_convite.png" alt="" srcset=""></a>
              <!-- <bottom style="font-size: 14px;" class="btn btn-common btn-lg mt-4" data-wow-delay="0.5s">ENTRAR NO GRUPO VIP DO WHATSAPP</bottom> -->
          </div>
        </div>
      </div>
    </div>
    <!-- Hero Area End -->

    <footer class="hero-area-bg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-12 col-xs-12">
            <div class="footer-logo pt-3">
              <!-- <img class="img-fluid pt-2 pb-2" style="height: 100px;" src="assets/img/logo-workshop.png" alt=""> -->
              <p style="color: white; font-size: 13px;">EL Treinamentos Ltda<br>
                CNPJ: 41.911.153/0001-78<br>
                Rua: Aspásia de Miranda Mourão, n° 25, Estoril, Belo Horizonte, MG. CEP: 30.494-205<br>
                <!-- Telefone: (31) 9 9655-3830 -->
              </p>
            </div>
            <div class="social-icons-footer">
            <ul>
                  <li class="facebook"><a href="https://www.facebook.com/leonavarroidebrasil/" target="_blank" href="3"><i class="lni-facebook-filled"></i></a></li>
                  <li class="pinterest"><a href="https://www.instagram.com/leonavarro_idebrasil/" target="_blank" href="3"><i class="lni-instagram-filled"></i></a></li>
                  <li class="pinterest"><a href="https://www.youtube.com/c/LeonardoNavarroIDEBRASIL/" target="_blank" href="3"><i class="lni-youtube"></i></a></li>
                </ul>
            </div>
            <div class="site-info">
              <p>Designed and Developed by <a href="http://idebrasil.com.br" rel="nofollow">IDEBRASIL</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    
    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
      <i class="lni-chevron-up"></i>
    </a>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M6VQP9X"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
    apiKey: "AIzaSyBAgsLVmm188I9VOwtORtG7FXygddBT9IE",
    authDomain: "wdse5li.firebaseapp.com",
    projectId: "wdse5li",
    storageBucket: "wdse5li.appspot.com",
    messagingSenderId: "827057880275",
    appId: "1:827057880275:web:c386ef45c7c8bb35e7e826",
    measurementId: "G-6HR9T7PLRV"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M6VQP9X"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  
</body>

</html>