<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
   <link href="assets/img/favicon.png" rel="icon">
   <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <title>Desafio #2 4D + 50L - 8L </title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="assetsBlogs/css/bootstrap.min.css">
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="assetsBlogs/fonts/line-icons.css">
    <!-- Nivo Lightbox -->
    <link rel="stylesheet" type="text/css" href="assetsBlogs/css/nivo-lightbox.css">
    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="assetsBlogs/css/animate.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="assetsBlogs/css/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="assetsBlogs/css/responsive.css">

    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '709156546588313');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=709156546588313&ev=PageView
  &noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-C9R4E4TNKL"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-C9R4E4TNKL');
    </script>
</head>

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v10.0"
        nonce="KR7XYe7k"></script>

    <!-- Header Area wrapper Starts -->
    <header id="header-wrap">

        <!-- Home main Start -->
        <div id="hero-area" class="hero-area-bg">
            <div class="overlay"></div>
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-lg-12 col-xs-12 col-sm-12 text-center pt-2">
                        <img class="img-responsive" style="width: 260px;" src="assetsBlogs/img/logo_ofc.png"
                            alt="">
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center section-padding">
                        <div class="schedule-area row wow fadeInDown" data-wow-delay="0.3s">
                            <div class="schedule-tab-content col-12 clearfix">

                                <div class="tab-content" id="myTabContent">
                                    <nav class="navbar navbar-expand-sm justify-content-center">
                                        <div class="container-c text-center">
                                            <ul style="color: white;">
                                                <h4 id="titleContador" style="font-size: 18px; text-align: center;">DESAFIO 2 INICIA EM ⏳ </h4>
                                                <ul id="contador" class="text-center">
                                                    <strong>
                                                        <li style="font-style:italic; transform: uppercase;"
                                                            class="lic"><strong><span
                                                                    style="color: #f43243; font-weight: 700;"
                                                                    class="spn" id="days"></span></strong><br><a
                                                                style="font-size: 15px; color: white;"> Dias</a></li>
                                                    </strong>
                                                    <strong>
                                                        <li class="lic"><strong><span
                                                                    style="color: #f43243; font-style:italic; transform: uppercase;"
                                                                    class="spn" id="hours"></span> :</strong><br><a
                                                                style="font-size: 15px; color: white; font-style:italic; transform: uppercase;">
                                                                Horas</a></li>
                                                    </strong>
                                                    <strong>
                                                        <li class="lic"><strong><span
                                                                    style="color: #f43243; font-style:italic; transform: uppercase;"
                                                                    class="spn" id="minutes"></span> :</strong><br><a
                                                                style="font-size: 15px; color: white; font-style:italic; transform: uppercase;">
                                                                Min</a></li>
                                                    </strong>
                                                    <strong>
                                                        <li class="lic"><strong><span
                                                                    style="color: #f43243; font-style:italic; transform: uppercase;"
                                                                    class="spn" id="seconds"></span></strong><br><a
                                                                style="font-size: 15px; color: white; font-style:italic; transform: uppercase;">
                                                                Seg</a></li>
                                                    </strong>
                                                </ul>
                                            </ul>
                                        </div>
                                    </nav>

                                    <iframe id="iframe" width="715" height="415" src="https://www.youtube.com/embed/dH8C6TF6OrI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <span style="height: 415px;" id="chat-embed-wrapper"></span>
                                    <div id="informationCpl2" style="display: none;">
                                        <h5 style="font-size: 23px;">DESAFIO 2 FINALIZADO!</h5>
                                        <a href="http://marketing.idebrasilbh.com.br/desafio4d-cpl3-8l" class="btn btn-success mt-1 mb-2">VEJA AQUI NOSSO PRÓXIMO DESAFIO!</a>
                                    </div>                                    
                                </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Hero Area End -->
    </header>
    <!-- Header Area wrapper End -->

    <!-- Team Section Start -->
    <section id="team" class="mt-2 pb-4 text-center">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 style="width: 18px;" class="section-title wow fadeInUp" data-wow-delay="0.2s">Veja o que dizem
                        os participantes</h2>
                </div>
            </div>
            <div class="row justify-content-bt">
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <!-- Team Item Starts -->
                    <div class="team-item wow fadeInUp" data-wow-delay="0.4s">
                        <iframe width="350" height="185" src="https://www.youtube.com/embed/ThdEqghJKyU" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        <div class="info-text">
                            <p>Gustavo</p>
                            <h3><a href="#">Distribuidora Toledo</a></h3>
                        </div>
                    </div>
                    <!-- Team Item Ends -->
                </div>

                <!--  -->

                <div class="col-lg-4 col-md-6 col-xs-12">
                    <!-- Team Item Starts -->
                    <div class="team-item wow fadeInUp" data-wow-delay="0.8s">
                        <iframe width="350" height="185" src="https://www.youtube.com/embed/JHH8a44jDfo" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                        <div class="info-text">
                            <p>Guilherme Ferrão</p>
                            <h3><a href="#">Premium Academia</a></h3>
                        </div>
                    </div>

                    <!-- Team Item Ends -->
                </div>

                <div class="col-lg-4 col-md-6 col-xs-12">
                    <!-- Team Item Starts -->
                    <div class="team-item wow fadeInUp" data-wow-delay="1.4s">
                        <iframe width="350" height="185" src="https://www.youtube.com/embed/-Xxq600TPOc" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                        <div class="info-text">
                            <p>Breno Alves</p>
                            <h3><a href="#">Auto Molas Imperatriz</a></h3>
                        </div>
                    </div>
                    <!-- Team Item Ends -->
                </div>
            </div>
        </div>
    </section>
    <!-- Team Section End -->

    <footer class="hero-area-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-12 col-xs-12">
                    <div class="footer-logo">
                        <img class="img-fluid pt-2 pb-2" style="width: 130px;" src="assetsBlogs/img/idebrasil_logo.png"
                            alt="">
                        <p style="color: white; font-size: 13px;">EL Treinamentos Ltda<br>
                            CNPJ: 41.911.153/0001-78<br>
                            Rua: Aspásia de Miranda Mourão, n° 25, Estoril, Belo Horizonte, MG. CEP: 30.494-205<br>
                            <!-- Telefone: (31) 9 9655-3830 -->
                        </p>
                    </div>
                    <div class="social-icons-footer">
                        <ul>
                            <li class="facebook"><a href="https://www.facebook.com/leonavarroidebrasil/" target="_blank"
                                    href="3"><i class="lni-facebook-filled"></i></a></li>
                            <li class="pinterest"><a href="https://www.instagram.com/leonavarro_idebrasil/"
                                    target="_blank" href="3"><i class="lni-instagram-filled"></i></a></li>
                            <li class="pinterest"><a href="https://www.youtube.com/c/LeonardoNavarroIDEBRASIL/"
                                    target="_blank" href="3"><i class="lni-youtube"></i></a></li>
                        </ul>
                    </div>
                    <div class="site-info">
                        <p>Designed and Developed by <a href="http://idebrasil.com.br" rel="nofollow">IDEBRASIL</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog modal-md justify-content-center">
            <div class="modal-content">

                <!-- Modal Header -->
                <div style="background-color: rgb(26, 25, 25);" class="modal-header text-center">
                    <img class="img-fluid" style="width: 120px;" src="assetsBlogs/img/logo_ofc.png" alt="">
                    <button style="color: white;" type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body text-center">
                    <h5 class="">Preencha o formulário</h5>
                    <div class="_form_20"></div>
                    <script src="https://marketingidebrasil.activehosted.com/f/embed.php?id=20" type="text/javascript"
                        charset="utf-8"></script>
                </div>

                <!-- Modal footer --
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>-->

            </div>
        </div>
    </div>

    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
        <i class="lni-chevron-up"></i>
    </a>
    <script>
        const second = 1000,
            minute = second * 60,
            hour = minute * 60,
            day = hour * 24;

        let countDown = new Date('Sep 14, 2021 19:10:10').getTime(),
            x = setInterval(function () {

                let now = new Date().getTime(),
                    distance = countDown - now;

                    document.getElementById('days').innerText = Math.floor(distance / (day)),
                    document.getElementById('hours').innerText = Math.floor((distance % (day)) / (hour)),
                    document.getElementById('minutes').innerText = Math.floor((distance % (hour)) / (minute)),
                    document.getElementById('seconds').innerText = Math.floor((distance % (minute)) / second);

                //do something later when date is reached
                if (distance < 0) {
                 clearInterval(x);
                 document.getElementById('contador').innerHTML = "<span style='display: none'></span>";
                 document.getElementById('titleContador').innerHTML = "<h3 class='pb-3' style='font-size: 18px; text-align: center; border-bottom: solid thin white'> DESAFIO 2 AO-VIVO 🔴 </h3>";
                }

            }, second)

        var count = new Date('Sep 15, 2021 18:30:00').getTime(),
            y = setInterval(()=>{
                let now2 = new Date().getTime(),
                distance2 = count - now2;

                if(distance2 < 0){
                    clearInterval(y);
                    document.getElementById('iframe').style.display = "none";
                    document.getElementById('informationCpl2').style.display = "block";
                    document.getElementById('chat-embed-wrapper').style.display = "none";
                    document.getElementById('titleContador').style.display = "none";
                }
            })
    </script>

    <script>
        const VIDEO_ID = "dH8C6TF6OrI"; // for live chat
        //ID CPL 02 - TPDjOH757j4
        //ID CPL 03 - 
        //2jh_zLaEFLE
        /*
        code from:
        https://stackoverflow.com/questions/52468303/how-to-embed-youtube-livestream-chat
        */
        let chat_embed_wrapper = document.getElementById("chat-embed-wrapper");
        let chat_embed_iframe = document.createElement("iframe");
        chat_embed_iframe.referrerPolicy = "origin";
        chat_embed_iframe.src = `https://www.youtube.com/live_chat?v=${VIDEO_ID}&embed_domain=${window.location.hostname}&dark_theme=1`;
        chat_embed_iframe.frameBorder = "0";
        chat_embed_iframe.id = "chat-embed-iframe";
        chat_embed_iframe.style.height = "100%";
        chat_embed_iframe.style.width = "100%";
        // chat_embed_iframe.class = "text-center";
        chat_embed_wrapper.appendChild(chat_embed_iframe);

        let change_stream_embed_iframe_size = function () {
            let stream_container = document.getElementById("stream-container");
            let stream_embed_wrapper = document.getElementById("stream-embed-wrapper");
            let stream_embed_iframe = document.getElementById("stream-embed-iframe");

            if (typeof window.orientation !== 'undefined') { //on phone
                chat_embed_wrapper.style.display = 'show';
                stream_embed_iframe.width = stream_container.clientWidth;
            } else { // on pc (desktop browsers == 'undefined')
                stream_embed_iframe.width = stream_embed_wrapper.clientWidth;
            }
        };
        change_stream_embed_iframe_size();

        window.onresize = function (event) {
            //console.log("[window.onresize]");
            change_stream_embed_iframe_size();
        };
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assetsBlogs/js/jquery-min.js"></script>
    <script src="assetsBlogs/js/popper.min.js"></script>
    <script src="assetsBlogs/js/bootstrap.min.js"></script>
    <script src="assetsBlogs/js/jquery.countdown.min.js"></script>
    <script src="assetsBlogs/js/waypoints.min.js"></script>
    <script src="assetsBlogs/js/jquery.counterup.min.js"></script>
    <script src="assetsBlogs/js/jquery.nav.js"></script>
    <script src="assetsBlogs/js/jquery.easing.min.js"></script>
    <script src="assetsBlogs/js/wow.js"></script>
    <script src="assetsBlogs/js/nivo-lightbox.js"></script>
    <script src="assetsBlogs/js/video.js"></script>
    <script src="assetsBlogs/js/main.js"></script>


    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M6VQP9X" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
</body>

</html>