<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    
  <title>Desafios 4D + 50L - 8L </title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="assetsBlogs/css/bootstrap.min.css">
  <!-- Icon -->
  <link rel="stylesheet" type="text/css" href="assetsBlogs/fonts/line-icons.css">
  <!-- Nivo Lightbox -->
  <link rel="stylesheet" type="text/css" href="assetsBlogs/css/nivo-lightbox.css">
  <!-- Animate -->
  <link rel="stylesheet" type="text/css" href="assetsBlogs/css/animate.css">
  <!-- Main Style -->
  <link rel="stylesheet" type="text/css" href="assetsBlogs/css/main.css">
  <!-- Responsive Style -->
  <link rel="stylesheet" type="text/css" href="assetsBlogs/css/responsive.css">

  <!-- Facebook Pixel Code -->
  <script>
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
      n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '709156546588313');
    fbq('track', 'PageView');
  </script>
  <noscript>
    <img height="1" width="1" src="https://www.facebook.com/tr?id=709156546588313&ev=PageView
  &noscript=1" />
  </noscript>
  <!-- End Facebook Pixel Code -->

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C9R4E4TNKL"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-C9R4E4TNKL');
</script>
</head>

<body>
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v10.0" nonce="KR7XYe7k"></script>

  <!-- Header Area wrapper Starts -->
  <header id="header-wrap">

    <!-- Home main Start -->
    <div id="hero-area" class="hero-area-bg">
      <div class="overlay"></div>
      <div class="container">
        <div class="row justify-content-center">
          
          <div class="col-lg-12 col-xs-12 col-sm-12 text-center pt-2">
                <img class="img-responsive mb-2" style="width: 260px;" src="assetsBlogs/img/logo_ofc.png" alt="">
          </div>

          <div style="display: none;" class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="schedule-area row wow fadeInDown" data-wow-delay="0.3s">
              <div class="schedule-tab-content col-12 clearfix">
  
                <div class="tab-content" id="myTabContent">
                  <nav class="navbar navbar-expand-sm justify-content-center pt-2 pb-1 ">
                    <div class="container-c text-center">
                      <ul style="color: white;">
                        <h6 style="font-size: 14px; text-align: center;">DESAFIOS DISPONÍVEIS POR</h6>
                        <ul class="text-center">
                            <strong><li style="font-style:italic; transform: uppercase;" class="lic"><strong><span style="color: #f43243; font-weight: 700;" class="spn" id="days"></span></strong><br><a style="font-size: 15px; color: white;"> Dias</a></li></strong>
                            <strong><li class="lic"><strong><span style="color: #f43243; font-style:italic; transform: uppercase;" class="spn" id="hours"></span> :</strong><br><a style="font-size: 15px; color: white; font-style:italic; transform: uppercase;"> Horas</a></li></strong>
                            <strong><li class="lic"><strong><span style="color: #f43243; font-style:italic; transform: uppercase;" class="spn" id="minutes"></span> :</strong><br><a style="font-size: 15px; color: white; font-style:italic; transform: uppercase;"> Min</a></li></strong>
                            <strong><li class="lic"><strong><span style="color: #f43243; font-style:italic; transform: uppercase;" class="spn" id="seconds"></span></strong><br><a style="font-size: 15px; color: white; font-style:italic; transform: uppercase;"> Seg</a></li></strong>
                        </ul>
                      </ul>
                    </div>
                  </nav>
                  <div class="tab-pane show active fade text-center pb-4" id="aula01" role="tabpanel" aria-labelledby="monday-tab">
                    <div id="accordion">
                      <div id="headingOne">
                        <div class="text-center pb-4">
                          <iframe id="iframe" width="715" height="415" src="https://www.youtube.com/embed/5thI1-w8rLY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                      </div>
                    </div>
                    <h5 style="font-size: 23px;">TURMA ABERTA PARA O CDE ON-LINE POR TEMPO LIMITADO!</h5>
                    <a href="https://marketing.idebrasilm.com.br/cde-8l" class="btn btn-success mt-1 mb-2">QUERO ME INSCREVER</a>
                  </div>
  
                  <div class="tab-pane show fade text-center pb-4" id="aula02" role="tabpanel" aria-labelledby="tuesday-tab">
                    <div id="accordion2">
                      <div id="headingOne1">
                        <div class="text-center pb-4">
                          <iframe id="iframe" width="715" height="415" src="https://www.youtube.com/embed/dH8C6TF6OrI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                      </div>
                    </div>
                    <h5 style="font-size: 23px;">TURMA ABERTA PARA O CDE ON-LINE POR TEMPO LIMITADO!</h5>
                    <a href="https://marketing.idebrasilm.com.br/cde-8l" class="btn btn-success mt-1 mb-2">QUERO ME INSCREVER</a>
                  </div>
  
                  <div class="tab-pane fade show pb-4 text-center" id="aula03" role="tabpanel" aria-labelledby="wednesday-tab">
                    <div id="accordion3">
                      <div id="headingOne3">
                        <div class="text-center pb-4">
                          <iframe id="iframe" width="715" height="415" src="https://www.youtube.com/embed/n724wtbjh_k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                      </div>
                    </div>
                    <h5 style="font-size: 23px;">TURMA ABERTA PARA O CDE ON-LINE POR TEMPO LIMITADO!</h5>
                    <a href="https://marketing.idebrasilm.com.br/cde-8l" class="btn btn-success mt-1 mb-2">QUERO ME INSCREVER</a>
                  </div>

                  <div class="tab-pane fade show pb-4 text-center" id="aula04" role="tabpanel" aria-labelledby="wednesday-tab">
                    <div id="accordion3">
                      <div id="headingOne3">
                        <div class="text-center pb-4">
                          <iframe id="iframe" width="715" height="415" src="https://www.youtube.com/embed/Imjx0fgRQ_w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                      </div>
                    </div>
                    <h5 style="font-size: 23px;">TURMA ABERTA PARA O CDE ON-LINE POR TEMPO LIMITADO!</h5>
                    <a href="https://marketing.idebrasilm.com.br/cde-8l" class="btn btn-success mt-1 mb-2">QUERO ME INSCREVER</a>
                  </div>
                </div>
              </div>
            </div>
          </div> 

          <div style="display: none;" class="col-lg-4 col-md-12 col-sm-12 col-xs-12 text-center">
             <ul style="padding-top: 8px;" class="nav" id="myTab" role="tablist">
              <li style="padding-top: 0px;" class="">
                <h6 class="section-title" style="font-size: 18px; color: white">Fases</h6> 
                <a class="nav-link" id="monday-tab" data-toggle="tab" href="#aula01" role="tab"
                  aria-controls="monday" aria-expanded="true">
                  <!-- <span style="font-size: 14px; color: white;">DESAFIO 1 - Indisponível. 🔒 </span> -->
                  <img class="img-fluid" src="assetsBlogs/img/aula1.png" alt="">
                </a>
                
              </li>
              <li class="nav-item">
                <a disabled class="nav-link" id="tuesday-tab" data-toggle="tab" href="#aula02" role="tab" aria-controls="tuesday">
                  <img class="img-fluid" src="assetsBlogs/img/aula2.png" alt="">
                </a>
              </li>
              <li class="nav-item">
                <a disabled class="nav-link" id="wednesday-tab" data-toggle="tab" href="#aula03" role="tab"
                  aria-controls="wednesday">
                  <img class="img-fluid" src="assetsBlogs/img/aula3.png" alt="">
                </a>
              </li>
              <li class="nav-item">
                <a disabled class="nav-link" id="wednesday-tab" data-toggle="tab" href="#aula04" role="tab"
                  aria-controls="wednesday">
                  <img class="img-fluid" src="assetsBlogs/img/aula4.png" alt="">
                </a>
              </li>
            </ul>           
          </div>
        </div>
      </div>
    </div>
    <!-- Hero Area End -->
  </header>
  <!-- Header Area wrapper End -->

  <!-- Team Section Start --
<section id="team" class="text-center pt-3 ">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12 text-center">
            <h2 class="section-title wow fadeInUp" style="font-size: 20px;" data-wow-delay="0.2s">Me diga o que você achou da aula...</h2>
          <div class="fb-comments" data-href="https://marketing.idebrasil.com.br/desafio4d+50l-aulas/" data-width="100%" data-numposts="5"></div>
      <hr>
    </div>
    
  </section>
  <!-- Team Section End -->

<!-- Team Section Start -->
<section id="team" class="mt-2 pb-4 text-center">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
            <h2 style="width: 18px;" class="section-title wow fadeInUp" data-wow-delay="0.2s">Veja o que dizem os participantes</h2>
        </div>
      </div>
      <div class="row justify-content-bt">
        <div class="col-lg-4 col-md-6 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item wow fadeInUp" data-wow-delay="0.4s">
          <iframe width="350" height="185" src="https://www.youtube.com/embed/ThdEqghJKyU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="info-text">
              <p>Gustavo</p>
              <h3><a href="#">Distribuidora Toledo</a></h3>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>

        <!--  -->

        <div class="col-lg-4 col-md-6 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item wow fadeInUp" data-wow-delay="0.8s">
            <iframe width="350" height="185" src="https://www.youtube.com/embed/JHH8a44jDfo" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
            </iframe>
            <div class="info-text">
              <p>Guilherme Ferrão</p>
              <h3><a href="#">Premium Academia</a></h3>
            </div>
          </div>

          <!-- Team Item Ends -->
        </div>

        <div class="col-lg-4 col-md-6 col-xs-12">
          <!-- Team Item Starts -->
          <div class="team-item wow fadeInUp" data-wow-delay="1.4s">
            <iframe width="350" height="185" src="https://www.youtube.com/embed/-Xxq600TPOc" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
            </iframe>
            <div class="info-text">
              <p>Breno Alves</p>
              <h3><a href="#">Auto Molas Imperatriz</a></h3>
            </div>
          </div>
          <!-- Team Item Ends -->
        </div>
      </div>
    </div>
  </section>
  <!-- Team Section End -->

  <footer class="hero-area-bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12 col-xs-12">
          <div class="footer-logo">
            <img class="img-fluid pt-2 pb-2" style="width: 130px;" src="assetsBlogs/img/idebrasil_logo.png" alt="">
            <p style="color: white; font-size: 13px;">EL Treinamentos Ltda<br>
              CNPJ: 41.911.153/0001-78<br>
              Rua: Aspásia de Miranda Mourão, n° 25, Estoril, Belo Horizonte, MG. CEP: 30.494-205<br>
              <!-- Telefone: (31) 9 9655-3830 -->
            </p>
          </div>
          <div class="social-icons-footer">
          <ul>
                <li class="facebook"><a href="https://www.facebook.com/leonavarroidebrasil/" target="_blank" href="3"><i class="lni-facebook-filled"></i></a></li>
                <li class="pinterest"><a href="https://www.instagram.com/leonavarro_idebrasil/" target="_blank" href="3"><i class="lni-instagram-filled"></i></a></li>
                <li class="pinterest"><a href="https://www.youtube.com/c/LeonardoNavarroIDEBRASIL/" target="_blank" href="3"><i class="lni-youtube"></i></a></li>
              </ul>
          </div>
          <div class="site-info">
            <p>Designed and Developed by <a href="http://idebrasil.com.br" rel="nofollow">IDEBRASIL</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-md justify-content-center">
    <div class="modal-content">

      <!-- Modal Header -->
      <div style="background-color: rgb(26, 25, 25);" class="modal-header text-center">
        <img class="img-fluid" style="width: 120px;" src="assetsBlogs/img/logo_ofc.png" alt="">
        <button style="color: white;" type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body text-center">
        <h5 class="">Preencha o formulário</h5>
        <div class="_form_20"></div><script src="https://marketingidebrasil.activehosted.com/f/embed.php?id=20" type="text/javascript" charset="utf-8"></script>
      </div>

      <!-- Modal footer --
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>-->

    </div>
  </div>
</div>

  <!-- Go to Top Link -->
  <a href="#" class="back-to-top">
    <i class="lni-chevron-up"></i>
  </a>
  <script>
    const second = 1000,
      minute = second * 60,
      hour = minute * 60,
      day = hour * 24;

    let countDown = new Date('Sep 19, 2021 23:59:00').getTime(),
      x = setInterval(function () {

        let now = new Date().getTime(),
          distance = countDown - now;

          document.getElementById('days').innerText = Math.floor(distance / (day)),
          document.getElementById('hours').innerText = Math.floor((distance % (day)) / (hour)),
          document.getElementById('minutes').innerText = Math.floor((distance % (hour)) / (minute)),
          document.getElementById('seconds').innerText = Math.floor((distance % (minute)) / second);

        //do something later when date is reached
        //if (distance < 0) {
        //  clearInterval(x);
        //  'IT'S MY BIRTHDAY!;
        //}

      }, second)
  </script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="assetsBlogs/js/jquery-min.js"></script>
  <script src="assetsBlogs/js/popper.min.js"></script>
  <script src="assetsBlogs/js/bootstrap.min.js"></script>
  <script src="assetsBlogs/js/jquery.countdown.min.js"></script>
  <script src="assetsBlogs/js/waypoints.min.js"></script>
  <script src="assetsBlogs/js/jquery.counterup.min.js"></script>
  <script src="assetsBlogs/js/jquery.nav.js"></script>
  <script src="assetsBlogs/js/jquery.easing.min.js"></script>
  <script src="assetsBlogs/js/wow.js"></script>
  <script src="assetsBlogs/js/nivo-lightbox.js"></script>
  <script src="assetsBlogs/js/video.js"></script>
  <script src="assetsBlogs/js/main.js"></script>


<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M6VQP9X"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
</body>

</html>
