<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Landing PAGE Captura youtube">
    <meta name="keywords" content="IDEBRASIL,gestão de Empresas,empresarios,curso de gestão empresarial">
    <meta name="author" content="Made By JB">



    <title>IDEBRASIL - CALCULO DA FOLHA DE PAGAMENTO</title>


    <!-- // PLUGINS (css files) // -->

    <link href="ccfp/js/plugins/bootsnav_files/skins/color.css" rel="stylesheet">
    <link href="ccfp/js/plugins/bootsnav_files/css/animate.css" rel="stylesheet">
    <link href="ccfp/js/plugins/bootsnav_files/css/bootsnav.css" rel="stylesheet">
    <link href="ccfp/js/plugins/bootsnav_files/css/overwrite.css" rel="stylesheet">
    <link href="ccfp/js/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="ccfp/js/plugins/owl-carousel/owl.theme.css" rel="stylesheet">
    <link href="ccfp/js/plugins/owl-carousel/owl.transitions.css" rel="stylesheet">
    <link href="ccfp/js/plugins/Magnific-Popup-master/Magnific-Popup-master/dist/magnific-popup.css" rel="stylesheet">

    <!--// ICONS //-->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--// BOOTSTRAP & Main //-->

    <link href="ccfp/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="ccfp/css/main.css" rel="stylesheet">

    <!-- Facebook Pixel Code -->

    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '709156546588313');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=709156546588313&ev=PageView
        &noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
    
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M6VQP9X" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

</head>



<body>



    <!--======================================== 

           Preloader

    ========================================-->

    <div class="page-preloader">

        <div class="spinner">

            <div class="rect1"></div>

            <div class="rect2"></div>

            <div class="rect3"></div>

            <div class="rect4"></div>

            <div class="rect5"></div>

        </div>

    </div>

    <!--======================================== 

           Header

    ========================================-->





    <!--//** Banner**//-->

    <section class="section-padding" id="home">

        <div class="container">

            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 text-center mb-4">
                    <img id="logo" src="cde/img/idebrasil_logo.png" class="logo img-fluid" alt="logo">
                </div>
                <!-- Introduction -->

                <div class="col-md-6 caption mt-4">

                    <!-- <h1>PLANILHA PARA CALCULO</h1> -->

                    <h2>

                        <h3 style="font-weight: 700;" class="animated-text"></h3>

                        <span class="typed-cursor"></span>

                    </h2>
                    <br>
                    <h3><strong>Tenha em mãos essa tecnologia que vai te auxiliar no cálculo dos
                       <br><br><span style="color: rgb(43, 194, 43)">CUSTOS DA FOLHA DE PAGAMENTO.</span></strong></h3>

                    <!-- <a href="https://www.youtube.com/watch?v=Q8TXgCzxEnw" class="btn btn-transparent popup-youtube">ASSISTA O VÍDEO</a> -->

                    <!-- <a class="btn btn-blue popup-youtube" href="">

                        <i class="material-icons">play_circle_filled</i><span class="pb-4"></span>

                    </a> -->

                </div>

                <!-- Sign Up -->

                <div id="cadastro" class="col-md-5 col-md-offset-1">

                    <form action="/cadYotube" method="POST" class="signup-form">
                        <input type="hidden" name="tag" value="FOPAG">
                        <h2 id="title-form" class="text-center">Insira seus dados</h2>
                        <hr>
                        <div class="form-group">
                            <input type="text" name="nome" class="form-control trata" placeholder="Nome *"
                                required="required">
                        </div>
                        <div class="form-group">
                            <input name="email" type="email" class="form-control" placeholder="Email *" required="required">
                        </div>

                        <div class="form-group">
                            <input id="phone" type="text" class="form-control" placeholder="Celular *" required="required">
                        </div>
                        <hr>
                        <div  class="form-group text-center mt-4">
                            <button id="btn-form" type="submit" class="btn btn-blue btn-block pt-4">BAIXAR PLANILHA</button>
                        </div>

                    </form>

                </div>

            </div>

        </div>

    </section>



    <!--======================================== 

           About Us

    ========================================-->



    <!-- Section Quem somos  -->
    <section style="background-color: #131212; padding-bottom: 25px;" class="text-center">
        <div class="container">
            <div class="section-title-header text-center">
                <h2 class="pt-1 pb-2 wow fadeInUp" data-wow-delay="0.2s"><span class="bdBottom">QUEM SOMOS</span></h2>
            </div>
            <div class="row">
                <div style="padding-top: 10px;" class="col-lg-6 col-md-6 col-xs-12">
                    <img class="img-responsive" src="cde/img/quemsomos.png" alt="">
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12 text-center mt-4">
                    <div class="wow fadeInUp pt-4 text-center" data-wow-delay="0.3s">
                        <div style="padding-left: 30px; padding-right: 30px;" class="row text-left">
                            <div class="text-left section-title">
                                <h6 id="title" class="pt-4" style="font-size: 25px;"><strong>O ESPECIALISTA</strong></h6>
                            </div>

                            <p>Leonardo Navarro é empresário, graduado em administração e CEO do IDEBRASIL. Um dos
                                maiores
                                especialistas de gestão do Brasil, já capacitou 15 mil empresários de pequenas e médias
                                empresas, além
                                de executivos de grandes corporações como: Todeschini, China in Box, Ghendai, Italinea,
                                Carraro,
                                Criare entre outras.<br><br>

                                Há 16 anos, dedica sua vida ajudando empresários realizarem seus sonhos e alcançarem o
                                tão desejado
                                sucesso profissional.</p>
                        </div>

                        <div style="padding-left: 30px; padding-right: 30px;" class="row text-left">
                            <div class="text-left">
                                <h6 class="pt-4 section-title" style="font-size: 25px;"><strong>O INSTITUTO</strong>
                                </h6>
                            </div>

                            <p>O<a style="color: #cb4343;"> IDEBRASIL</a> "Instituto de Desenvolvimento Empresarial" tem
                                a missão de
                                “compartilhar conhecimento
                                de gestão com empresários de pequenas e médias empresas, de forma simples e prática, a
                                fim de gerar
                                DESENVOLVIMENTO”.</p>
                        </div>

                        <div style="padding-left: 30px; padding-right: 30px;" class="row mt-4 pb-4">
                            <div class="col-lg-3 col-md-3 col-sm-12 text-center">
                                <img style="width: 90px; padding: 0px 0px;" class="" src="cde/img/2paises.png" alt=""><br>
                                <span><strong><a style="color: #cb4343;">2</a><br> Paises</strong> </span>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 text-center">
                                <img style="width: 90px;" class="" src="cde/img/23estados.png" alt=""><br>
                                <span><strong><a style="color: #cb4343;">23</a><br> Estados Brasileiros</strong> </span>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 text-center">
                                <img style="width: 90px;" class="" src="cde/img/pp_palestras.png"
                                    alt=""><br>
                                <span><strong><a style="color: #cb4343;">200.000</a><br> Participantes em
                                        palestras</strong> </span>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 text-center">
                                <img style="width: 90px;" class="" src="cde/img/alunos.png" alt=""><br>
                                <span><strong><a style="color: #cb4343;">40.000</a><br> Empresários impactados</strong>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Section End -->



    <!--======================================== 

           Newsletter

    ========================================-->



    <!-- <section id="newsletter">

    

    </section> -->




    <!--======================================== 

           Footer

    ========================================-->



    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center pt-4">
                    <img style="width: 150px;" src="cde/img/idebrasil_logo.png" alt="MySVG">
                </div>
                <div style="font-size: 12px;" class="col-lg-12">
                    <p id="footer" class="text-center">
                        LGB Treinamento, Consultoria e Editora LTDA<br>
                        Cnpj: 25.327.714/0001-30<br>
                        Rua: Aspásia de Miranda Mourão, n° 25, Estoril, Belo Horizonte, MG. CEP: 30.494-205
                    </p>
                    <p class="text-center"><strong><a style="color:#a50000;">Build by </a> IDEBRASIL </strong></p>
                </div>

            </div>

    </footer>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="ccfp/bootstrap-3.3.7/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="ccfp/js/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="ccfp/js/plugins/bootsnav_files/js/bootsnav.js"></script>
    <script src="ccfp/js/plugins/typed.js-master/typed.js-master/dist/typed.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="ccfp/js/plugins/Magnific-Popup-master/Magnific-Popup-master/dist/jquery.magnific-popup.js"></script>
    <script src="ccfp/js/main.js"></script>

     <!--Input mask Js-->
     <script src="assets/js/jquery.mask.min.js" type="text/javascript"></script>

     <script>
         function titleize(text) {
             var loweredText = text.toLowerCase();
             var words = loweredText.split(" ");
             for (var a = 0; a < words.length; a++) {
                 var w = words[a];
         
                 var firstLetter = w[0];
                 w = firstLetter.toUpperCase() + w.slice(1);
         
                 words[a] = w;
             }
             return words.join(" ");
         }
         
         $(document).ready(function(){
           
             $(document).on("keyup","input.trata",function(){
                 var text = $(this).val();
                 var trata = titleize(text); 
                 $(this).val(trata);
              });
         
         });
         </script>
 
         <script type="text/javascript">
             $(document).ready(function () {
             $('#phone').mask("+55(00)00000-0000");
             });
         </script>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M6VQP9X"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

</body>



</html>