<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
:root {
  --container-width: 900px;
  --container-bg-color: #000;
  
  --stream-container-width: 900px; /* 100% or 900px */
  
  --chat-height: 500px;
  --chat-width: 300px;
}

div {
  box-sizing: border-box;
}

body {
  background-color: #111;
  font-family: "Microsoft JhengHei", Arial, 'LiHei Pro', Helvetica, sans-serif;
  margin: 0;
  padding: 20px 0;
}

#header {
  color: #eee;
  width: var(--container-width);
  max-width: 100%;
  margin: 0 auto;
  
  background-color: var(--container-bg-color);
  
  padding: 20px 20px 30px 20px;
}

#header h1 {
  margin: 0;
  padding: 0;
}

#stream-container {
  background-color: var(--container-bg-color);
  min-height: var(--chat-height);
  width: var(--stream-container-width);
  max-width: 100%;
  margin: 0 auto;
}
#stream-embed-iframe {
  height: 100%;
  max-height: 100vh;
}
#stream-embed-wrapper {
  float: left;
  height: var(--chat-height);
  width: calc( 100% - var(--chat-width) );
}

#chat-embed-wrapper {
  float: right;
  height: var(--chat-height);
  width: var(--chat-width);
}

@media (max-width: 600px) {
  #stream-embed-wrapper {
    float: none;
    width: 100%;
  }
  #chat-embed-wrapper {
    float: none;
    width: 100%;
  }
}

.clear_both {
  clear: both;
}

#footer {
  color: #eee;
  text-align: center;
  font-weight: bold;
  
  width: var(--container-width);
  max-width: 100%;
  margin: 0 auto;
  background-color: var(--container-bg-color);
  
  padding: 40px 20px 60px 10px;
}
#footer a {
  color: #ccc;
}
    </style>
</head>
<body>

      <div id="stream-container">
        <!-- stream -->
        <div disabled id="stream-embed-wrapper">
          
        </div>
      
        <!-- chat -->
        <div id="chat-embed-wrapper"></div>
        
        <div class="clear_both"></div>
      </div>
      
      <div id="footer">
        <a href="https://www.youtube.com/channel/UCDekUa3fTKUWk9dl4Fh6Ojg/live" target="_blank">Watch On Youtube</a>
      </div>
<script>
    const VIDEO_ID = "g4lA5k2FIzU"; // for live chat
/*
code from:
https://stackoverflow.com/questions/52468303/how-to-embed-youtube-livestream-chat
*/
let chat_embed_wrapper = document.getElementById("chat-embed-wrapper");  
let chat_embed_iframe = document.createElement("iframe");  
chat_embed_iframe.referrerPolicy = "origin";  
chat_embed_iframe.src = `https://www.youtube.com/live_chat?v=${VIDEO_ID}&embed_domain=${window.location.hostname}&dark_theme=1`;  
chat_embed_iframe.frameBorder = "0";  
chat_embed_iframe.id = "chat-embed-iframe";  
chat_embed_iframe.style.height = "100%";
chat_embed_iframe.style.width = "100%";
chat_embed_wrapper.appendChild(chat_embed_iframe);

let change_stream_embed_iframe_size = function(){
  let stream_container = document.getElementById("stream-container");
  let stream_embed_wrapper = document.getElementById("stream-embed-wrapper");
  let stream_embed_iframe = document.getElementById("stream-embed-iframe");
  
  if(typeof window.orientation !== 'undefined'){ //on phone
    chat_embed_wrapper.style.display = 'none';
    stream_embed_iframe.width = stream_container.clientWidth;
  }else{ // on pc (desktop browsers == 'undefined')
    stream_embed_iframe.width = stream_embed_wrapper.clientWidth;
  }
};
change_stream_embed_iframe_size();

window.onresize = function(event) {
  //console.log("[window.onresize]");
  change_stream_embed_iframe_size();
};
</script>
</body>
</html>